{
##快捷应用添加，resident字段表示是否可以移除快捷应用
"apps": 
[{"id":0,"packageName":"com.netflix.ninja","resident":true},
{"id":1,"packageName":"com.disney.disneyplus","resident":true},
{"id":2,"packageName":"com.google.android.youtube.tv","resident":true}],
##通过ip识别国家区域，控制显示特殊应用,continent=七大洲，countryCode=国家码，"!"符号标识除了该continent或countryCode的其他显示
"specialApps":[{"packageName":"com.mm.droid.livetv.fili","appName":"Fili TV11","iconPath":"/product/etc/icon/fili_tv.png","continent":"","countryCode":"PH"},
    {"packageName":"com.mm.droid.livetv.tvees","appName":"TVELA","iconPath":"/product/etc/icon/latino.png","continent":"南美洲","countryCode":"!BR"},
    {"packageName":"com.valor.mfc.droid.tvapp.generic","appName":"My Family Cinema","iconPath":"/product/etc/icon/latino.png","continent":"南美洲","countryCode":"!BR"},
    {"packageName":"com.vod.watchlist.tvapp","appName":"Watchlist Pro","iconPath":"/product/etc/icon/latino.png","continent":"","countryCode":"PH"}
    ],
    ##所有应用中通过包名过滤应用,";"隔开
    "filterApps":"",
    ##应用管理中通过包名过滤应用,";"隔开
    "managerFilterApps":"",
    ##定义状态栏的wifi跳转，如com.htc.htcpublicsettings/.WifiActivity,默认用桌面自带的
    "barWifi":"",
    ##定义状态栏的蓝牙跳转，如com.htc.htcpublicsettings/.WifiActivity,默认用桌面自带的
    "barBluetooth":"",
    ##定义状态栏的设置跳转，如com.htc.htcpublicsettings/.WifiActivity,默认用桌面自带的
    "setting":"",
    ##logo图标
    "brandLogo":"/oem/brand.png",
    ##默认背景，从数字1开始设置，具体上限是多少，看背景切换页默认初始添加了多少个背景。
    "defaultbackground":"10",

    ##信源的sourceID : DTV,ATV,HDMI1,HDMI2,HDMI3,CVBS1,CVBS2(USB 的ID不能改)
    "sourceList":"HDMI1,USB",
    ##信源列表显示对应的名称,","隔开，和上面ID对应，不对应直接使用sourceID作为名称
    "sourceListTitle":"HDMI,USB",
    ##wifi
    "wifi":true,
    ##热点
    "hotpots":true,

    ##蓝牙中的蓝牙音箱
    "bluetoothSpeaker":true,

    ##语言设置
    "language":true,
    ##输入法设置
    "inputMethod":true,
    ##开机源设置
    "bootSource":true,
    ##按键音
    "soundEffects":true,
    ##账号
    "account":false,
    ##屏保
    "screenSaver":true,
    ##定时关机
    "timerOff":true,
    ##恢复出厂
    "resetFactory":true,
    ##电源模式，上电开机 上电待机
    "powerMode":true,
    ##开发者模式
    "developer":true,

    ##自动识别摄像头
    "autoCheckCamera":false,
    ##自动梯形
    "autoKeystone":true,
    ##初始角度
    "initAngle":true,
    ##自动四角
    "autoFourCorner":true,
    ##手动梯形
    "manualKeystone":true,
    ##重置梯形矫正
    "resetKeystone":true,
    ##手动梯形 水平可调节范围 0~1000，1000=不限制
    "manualKeystoneWidth":1000,
    ##手动梯形 垂直可调节范围 0~1000，1000=不限制
    "manualKeystoneHeight":1000,
    ##自动对焦
    "autoFocus":true,
    ##幕布识别
    "screenRecognition":true,
    ##智能避障
    "intelligentObstacle":true,
    ##标定
    "calibration":true,
    ##声音模式
    "audioMode":false,
    ##投影模式
    "projectMode":true,

    ##显示设置
    "displaySetting":true,
    "pictureMode":true,
    ##显示中的图像模式 有自定义模式
    "pictureModeShowCustom":true,
    ##显示中的声音模式
    "displayAudioMode":false,
    ##亮度可调节格数，1= 2~3；2= 1~3 ,其他默认从0开始，如7=0~7;
    "brightnessLevel":1,
    ##亮度
    "brightness":false,
    ##系统PQ的亮度
    "brightnessSystem":true,
    ##对比度
    "contrast":true,
    ##色调
    "hue":true,
    ##饱和度
    "saturation":true,
    ##锐度
    "sharpness":true,
    ##红色
    "red":false,
    ##绿色
    "green":false,
    ##蓝色
    "blue":false,

    ##设备模式
    "deviceMode":false,
    ##设备模式测试高温模式
    "deviceModeTestHigh":false,
    ##全局缩放
    "wholeZoom":true,

    ##设备型号
    "deviceModel":true,
    ##ui版本信息
    "uiVersion":true,
    ##android 版本
    "androidVersion":true,
    ##分辨率
    "resolution":true,
    ##内存
    "memory":true,
    ##内存放大整数倍
    "memoryScale":1,
    ##存储
    "storage":true,
    ##存储放大整数倍
    "storageScale":1,

    ##无限mac地址
    "wlanMacAddress":true,
    ##本地升级检测
    "updateFirmware":true,
    ##在线升级
    "onlineUpdate":true,
    ##序列号
    "serialNumber":true

}