<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htc.spectraos"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="db7043ef7f" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="SpectraOS" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BluetoothIncomingFileConfirmActivity"
            android:theme="@style/TransparentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.INCOMINGFILE_CONFIRM_REQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplaySettingsActivity"
            android:exported="false" />
        <activity android:name=".activity.TestActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.WiredActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HotspotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetworkActivity"
            android:exported="true" />
        <activity android:name=".activity.DeveloperModeActivity" />
        <activity
            android:name=".activity.PowerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.BluetoothSpeakerActivity" />
        <activity android:name=".activity.WallPaperActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activity.AppsManagerActivity" />
        <activity android:name=".activity.AppFavoritesActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activity.CorrectionActivity" />
        <activity
            android:name=".activity.BluetoothActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:priority="999">
                <action android:name="android.settings.BLUETOOTH_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DateTimeActivity" />
        <activity android:name=".activity.LanguageAndKeyboardActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.OtherSettingsActivity" />
        <activity
            android:name=".activity.WifiActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:priority="999">
                <action android:name="android.settings.WIFI_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.NETWORK_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.cmcc.settings.TV.NETWORK_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProjectActivity" />
        <activity
            android:name=".activity.MainSettingActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".activity.AppsActivity"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TimeOffService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>